@using ExamProj.Models.DTOs
@model List<UserExamQuest>
@{
    ViewData["Title"] = "UserIndex";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Exam Name</th>
        <th>Exam Duration</th>
        <th>Exam Description</th>
        <th>Enter</th>

    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
    <tr>
        <td>@item.ExamName</td>
        <td>@item.ExamDuration</td>
        <td>@item.ExamDescription</td>
        
    </tr>
        <td><a name="id" asp-controller="User" asp-action="UserExamp" class="btn btn-primary">Enter</a></td>
        }
    </tbody>
</table>

