@using ExamProj.Models.DTOs
@using ExamProj.Models.Entity
@model List<QuestionDetailDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
@foreach(var question in Model)
{
<br />
<h1>Question Name</h1>
<input type="text" name="QuestionName" value="@question.QuestionName" />
<br />
<h1>Question Answer</h1>
<input type="text" name="QuestionAnswer" value="@question.QuestionAnswer" />
<br />
<h1>Question Type</h1>
<select name="QuestionTypeId" id="QuestionTypeId">
  <option value="3">Choise</option>
  <option value="4">Description</option>
</select>
<h1>Question Category</h1>
<br />
    
        <select name="CategoryId" id="CategoryId">
            @foreach (Category category in ViewBag.categories)
            {
            <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
    
    <br />
}