@using ExamProj.Models
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Category</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>

    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
    <tr>
        <td>@item.CategoryName</td>
        <td><a href="/Category/Delete/@item.CategoryId"  class="btn btn-danger">Delete</a></td>
        <td><a href="/Category/Update/@item.CategoryId" class="btn btn-success">Update</a></td>

    </tr>
        }
    </tbody>
</table>
<a href="/Category/Add/" class="btn btn-primary">New Category</a>

